<div class="container w-50">
    <h3>Login</h3>
    <form (ngSubmit)="onSummit(f)"#f="ngForm">
        <div class="form-group">
        <label for="email">Username</label>
        <input type="text" id="email"  name ="email" class="form-control mb-3 mt-3"  ngModel required #fn="ngModel">
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" d="password"  name ="password" class="form-control mb-3 mt-3 " ngModel required #fn="ngModel">
        </div>
        <button type="submit" class="btn btn-success me-2">Login</button>
    </form>
</div>